
/*
  Author: Cole Amick
  Date: 20150927
  */

a { text-decoration: none;}
a:link { color:black;}
a:visited { color:black;}
a:hover { color:green;}
a:active { color:black;}

/* NAV BAR */
nav {
<<<<<<< HEAD
    margin-left: 100px;
    text-align: left;
=======
  margin-left: 100px;
 text-align: left;
>>>>>>> 360b7ce04c7e2fa94b7127325becf8e11a5d9c6e
}

nav ul ul {
    display: none;
}

nav ul {
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-block;
}

nav ul li {
    float: left;
}
nav ul li a {
    padding: 1px 10px;
    position:relative;
}

nav ul ul {
<<<<<<< HEAD
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
=======
  border-radius: 0px;
  padding: 0;
  position: absolute;
  top: 100%;
>>>>>>> 360b7ce04c7e2fa94b7127325becf8e11a5d9c6e
}
nav ul ul li {
    float: none;
    position: relative;
}
nav ul ul li a {
    margin-left: 25px;
    padding: 1px 10px;
    position:relative;
}

nav ul ul ul {
    margin-left: 25px;
    padding: 1px 10px;
    position:relative;
}
/* END NAV BAR */
.header {
<<<<<<< HEAD
    height: 50px;
    padding: 50px 50px 50px 50px;
    text-align: left;
=======
  height: 50px;
  padding: 50px 50px 50px 50px;
  text-align: left;
>>>>>>> 360b7ce04c7e2fa94b7127325becf8e11a5d9c6e
}
